.Maincontainer {
	width: 90%;
	margin: 0 auto;

}

.Maincontainer .addressrow1 .addressCol1 .wrapper {
		background-color: white;
	    box-shadow: 0px 2px 7px 3px rgba(0,0,0,0.15);
	    margin-top: 20px;
}

.Maincontainer .addressrow1 .addressCol1 .wrapper .address1 {
	margin: 0px;
}

.Maincontainer .addressrow1 .addressCol1 .wrapper .address1 .address1Col1Image {
	width: 100%;
}

.Maincontainer .addressrow1 .addressCol1 .wrapper .address1 .address1Col1Image .beckimage{
	width: 100%;
}

.Maincontainer .addressrow1 .addressCol1 .wrapper .address1detail {
	padding: 20px;
	margin: 0px;
}

.Maincontainer .addressrow1 .addressCol1 .wrapper .address1detail .addressList {
		list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

.Maincontainer .addressrow1 .addressCol1 .wrapper .address1detail .addressList .addressListDetail{
	padding: 10px;
}

.Maincontainer .addressrow1 .addressCol1 .wrapper .address1detail .addressList .addressListDetail i {
	display: table-cell;
	padding-right: 10px;
}

.Maincontainer .addressrow1 .addressCol1 .wrapper .address1detail .addressList .addressListDetail .addDetail {
	display: table-cell;
	margin-left: 10px;
	font-weight: 500;
}
