.container {
	background-color: #ededed;

}

.container .addressrow1 .addressCol1 .address1 .address1Col1Image .beckimage,
.container .addressrow1 .addressCol1 .address2 .address2Col1Image .dallasimage,
.container .addressrow1 .addressCol2 .addressImage .vizagimage {
	width: 100%;
}
.container .addressrow1 .addressCol2 {
	height: 50%;
	
}
.container .addressrow1 .addressCol1 .address1,
.container .addressrow1 .addressCol1 .address2,
.container .addressrow1 .addressCol2
 {
	margin-bottom: 20px;
	background-color: white;
}

.container .addressrow1 .addressCol1 .address1 .addressCol1Address .locationAddress .addressList,
.container .addressrow1 .addressCol1 .address2 .address2Col1Address .locationAddress .addressList,
.container .addressrow1 .addressCol2 .locationAddress .addressList{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;

}

.container .addressrow1 .addressCol1 .address1 .addressCol1Address,
.container .addressrow1 .addressCol1 .address2 .address2Col1Address
 {
	padding: 37px 25px 25px 10px;
}

.container .addressrow1 .addressCol2 .address3 .locationAddress {
	padding: 37px 25px 53px 10px;
}
.container .addressrow1 .addressCol1 .address1 .addressCol1Address .locationAddress .addressList .addressListDetail,
.container .addressrow1 .addressCol1 .address2 .address2Col1Address .locationAddress .addressList .addressListDetail,
.container .addressrow1 .addressCol2 .address3 .locationAddress .addressList .addressListDetail  {
	padding: 10px;
}
.container .addressrow1 .addressCol1 .address1 .addressCol1Address .locationAddress .addressList .addressListDetail .addDetail,
.container .addressrow1 .addressCol1 .address2 .address2Col1Address .locationAddress .addressList .addressListDetail .addDetail,
.container .addressrow1 .addressCol2 .address3 .locationAddress .addressList .addressListDetail .addDetail
 {
	display: inline;
	margin-left: 10px;
	font-weight: 500;
}