h2 {
    margin-top: 0px;
}

@media screen and (max-width: 1500px) {

	.contentLayout .reportStyle2Class {
		width: 80%;
		margin: auto;
		background-color: white;
		height: 100vh;
		overflow: scroll;
	}
}

@media screen and (min-width: 1500px) {
	
	.contentLayout .reportStyle2Class {
		width: 60%;
		margin: auto;
		background-color: white;
		height: 100vh;
		overflow: scroll;
	}
}