.form-group.react-bs-table-search-form {
    /* margin-left: auto; */
    margin-right: 0px;
}

.fa-check {
    color: #5FBA7D;
}

.fa-times {
    color: #FF7878;
}

.contentLayout .ReportStyle1Class {
	padding: 20px 30px;
	height: max-content;
	width: 90%;
	margin:0px auto;
	margin-top: 25px;
	overflow: scroll;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 3px 1px -2px rgba(0, 0, 0, 0.2), 
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.contentLayout .ReportStyle1Class .ReportStyle1Header {
	margin-top: 0px;
}

.table {
	background-color: white;
	margin: 0px;
}

.ReportStyle1Class .loader {
	margin: auto;
}