#root {
	height: 100%;
	width: 100%;
}

.SidebarClass {
	height: 500px;
}

.loginHeader {
	background-color: #00274c;
	color: white;
	padding: 5px;
	width: 100vw;
}
.mainHeading {
	margin-top: 10px !important;
}

.sideContent {
   
    margin-left: 215px;
    margin-top: -75px;
}

.sideList {
    list-style-type: none;
    margin-top: 20px;
}

li {
    font-size: 22px;
}