.pageSection1 {
	height: 35vh;
	background-color: white;
	margin-bottom: 20px;
	margin-top: 20px;
}

.pageSection2 {
	margin-top: 20px;
	height: 80vh;
}

.section2Part2 , .section2Part3 {
	background-color: white;
	height: 80vh;
	margin-right: 25px;
}

.section2Part1 {
	margin-left: 25px;
	height: 60vh;
	margin-right: 25px;
}

.section2Part1Row1 {
	height: 20vh;
	background-color: white;
	margin-bottom: 25px;
}

.section2Part1Row2 {
	height: 37vh;
	background-color: white;
}