.sidebar {
	min-height: 100vh;
	max-height: 100vh;
	background-color: #2F4050;
	overflow:hidden;
	width: 280px;
	float: left;
	color:white;
}

.sidebar .appName {
	font-size: 16px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	font-weight: bold;
	text-align: center;
}

.sidebar .appName a {
	text-decoration: none;
	color: white;
}

.sidebar .userDetailsWrapper {
	max-height: 22vh; 
	padding-left: 5px;
	display: flex;
}

.sidebar .userDetailsWrapper .textRight {
    display: flex;
    flex-wrap: wrap;
	width: 100%;
	align-items: center;
    padding-left: 10px;
}

.sidebar .userDetailsWrapper .textRight>div {
	width: 100%;
}

.sidebar .userDetailsWrapper .userImg .img-circle {
	width: 75px;
	height: 75px;
	padding: 10px;
}

.sidebar .userDetailsWrapper .textRight .userName {
	font-size: 18px;
	line-height: 24px;
}

.sidebar .userDetailsWrapper .textRight .usertitle {
	font-size: 12px;
	line-height: 20px;
	color: #ededed;
}

.sidebar .menuBlock {
	max-height: 50vh;
	padding-top: 10px;
 	overflow-y: scroll;
}

/* Reports Scroll-Bar*/


.sidebar .menuBlock .userReports,
.sidebar .menuBlock .menuSection  {
	list-style-type: none;
	text-align: left;
	padding-left: 0px;
	margin-bottom: 0px;
}

.sidebar .menuBlock .userReports li,
.sidebar .menuBlock .menuSection li {
	font-size: 18px;
	line-height: 24px;
	padding: 5px;
	padding-left: 10px;
}

.sidebar .menuBlock .menuSection li {
	border-bottom: 1px solid grey;
}

.sidebar .menuBlock .menuSection:first-child li:first-child {
	border-top: 1px solid grey;;
}

.sidebar .menuBlock .menuSection li .fa {
	padding-right:8px;
}

.sidebar .menuBlock .userReports li {
	padding-left: 25px;
}

.sidebar .menuBlock .Collapsible.accordionMenu {
	padding: 5px;
	padding-left: 10px;
	border-left: none;
	background-color: #2F4050;
}

.sidebar .menuBlock .Collapsible {
	padding-top: 5px;
	border-bottom: 1px solid grey;;
	position: relative;
	border-left: 5px solid cyan;
	background-color: #293846;
	transition: background-color 400ms;
	transition: border-left 400ms;
}

.sidebar .menuBlock .Collapsible>span {
	display: inline-block;
}

.sidebar .menuBlock .Collapsible>span:before {
	display: inline-block;
	content: '\f15c';
	font-family: 'FontAwesome';
	font-size: 18px;
	line-height: 24px;
	padding-right: 8px;
}

.sidebar .menuBlock .Collapsible>span:after {
	display: inline-block;
	content: '\f107';
	font-family: 'FontAwesome';
	font-size: 18px;
	line-height: 24px;
	position: absolute;
	right: 10px;
	transition: transform 300ms;
}

.sidebar .menuBlock .Collapsible>span.is-open:after {
	transform: rotateZ(180deg);
}

.sidebar .menuBlock .accordionMenu span,
.sidebar .menuBlock .accordionOpen {
	font-size: 18px;
	line-height: 24px;
}

.sidebar .menuBlock .accordionOpen {
	padding-left: 10px;
}

.sidebar .menuBlock .accordionMenu:active,
.sidebar .menuBlock .accordionMenu:hover {
	background-color: #ffcb05;
 	color: white;
}

.sidebar .menuBlock .userReports li:active,
.sidebar .menuBlock .userReports li:hover {
 	background-color: #ffcb05;
 	color:white;
}

.sidebar .menuBlock .menuSection li:active,
.sidebar .menuBlock .menuSection li:hover {
 	background-color: #ffcb05;
 	color: white;
}

.sidebar .menuBlock .menuSection li.menuTitle a {
	color: white;
}

.sidebar .menuBlock .userReports li.userReportTitle a {
	color:white;
}

.sidebar .menuBlock .userReports li.userReportTitle a:active,
.sidebar .menuBlock .userReports li.userReportTitle a:hover {
	text-decoration: none;
	color : white;
}

.sidebar .menuBlock .userReports li.userReportTitle a:focus {
	text-decoration: none;
}

sidebar .menuBlock .menuSection li.menuTitle a:active,
.sidebar .menuBlock .menuSection li.menuTitle a:hover,
.sidebar .menuBlock .menuSection li.menuTitle a:focus {
	text-decoration: none;
	color : white;
}