.sidebar {
	min-height: 100vh;
	max-height: 100vh;
	background-color: #263949 ;
	overflow:hidden;
	padding-left: 20px;
	width: 280px;
	float: left;
	color:white;

}

.sidebar .userDetailsWrapper {
	max-height: 22vh; 
	padding-left: 5px;
}

.sidebar .userDetailsWrapper .appName {
	font-size: 16px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	font-weight: bold;
	text-align: center;
}

 .sidebar .userDetailsWrapper .userImg {
	height: 100px;
	padding-top: 10px;
} 

.sidebar .userDetailsWrapper .userImg .img-circle {
	width: 75px;
	height: 75px;
	padding: 10px;
	float: left;


}

.sidebar .userDetailsWrapper .userImg .userName {
	font-size: 18px;
	line-height: 28px;
	margin: 0px;
	padding: 5px;
	font-weight: bold;
	padding-bottom: 0px;
	padding-top: 10px;
}

.sidebar .userDetailsWrapper .userImg .usertitle {
	font-size: 12px;
	line-height: 20px;
	margin: 0px;
	padding-left: 5px;
	font-weight: bold;
	color: #ededed;
}

.sidebar .userReportsBlock {
	max-height: 50vh;
	padding-top: 10px;
 
 	overflow-y: scroll;

}

/* Reports Scroll-Bar*/


.sidebar .userReportsBlock .userReports, .sidebar .userReportsBlock .userReports1  {
	list-style-type: none;
	text-align: left;
	padding-left: 0px;
	margin-bottom: 0px;
}

.sidebar .userReportsBlock .userReports li {
	font-size: 18px;
	line-height: 24px;
	padding: 10px;
	padding-left: 30px;

}

.sidebar .userReportsBlock .userReports1 li{
	font-size: 18px;
	line-height: 24px;
	padding: 10px;

}

.sidebar .userReportsBlock .accordianMenu {
	font-size: 18px;
	line-height: 24px;
	padding: 10px;
}

.sidebar .userReportsBlock .accordianMenu:active,
.sidebar .userReportsBlock .accordianMenu:hover {
	background-color: #ffcb05;
 	color: white;
}

.CustomTriggerCSS--open{
	font-size: 18px;
	line-height: 24px;
	padding: 10px;
	padding-top: 15px;
}
.sidebar .userReportsBlock .userReports li:active,
.sidebar .userReportsBlock .userReports li:hover {
 	background-color: #ffcb05;
 	color:white;
}

.sidebar .userReportsBlock .userReports1 li:active,
.sidebar .userReportsBlock .userReports1 li:hover {
 	background-color: #ffcb05;
 	color: white;
}

.sidebar .userReportsBlock .userReports li.userReportTitle a , 
.sidebar .userReportsBlock .userReports1 li.userReportTitle1 a {
	color:white;
}

.sidebar .userReportsBlock .userReports li.userReportTitle a:active,
.sidebar .userReportsBlock .userReports li.userReportTitle a:hover {
	text-decoration: none;
	color : white;
}
.sidebar .userReportsBlock .userReports1 li.userReportTitle1 a:active,
.sidebar .userReportsBlock .userReports1 li.userReportTitle1 a:hover {
	text-decoration: none;
	color : white;
}

.sidebar .userReportsBlock .userReports li.userReportTitle a:focus {
	text-decoration: none;
}

.sidebar .userDetailsWrapper .appName a {
	color:white;
}

.sidebar .userFooterBlock {
	position: absolute;
	bottom: 0px;
	left: 0px;
	max-height: 20vh;
	padding-top: 10px;

}

.sidebar .userFooterBlock .userFooter {
	margin-bottom: 0px;
	list-style-type: none;
	text-align: left;
	padding-left: 0px;
	width: 280px;
}

.sidebar .userFooterBlock .userFooter li {
	line-height: 30px;
	font-size: 18px;
	padding: 5px;
}

.sidebar .userFooterBlock .userFooter li a {
	width: 150px;
	align-items: left;
}

.sidebar .userFooterBlock .userFooter li a:hover,
.sidebar .userFooterBlock .userFooter li a:active,
.sidebar .userFooterBlock .userFooter li a:focus {
	text-decoration: none;
}

.fa {
	margin-right: 5px;
	padding-left: 20px;
	width: 50px;
	align-items: center;
}

.sidebar .userFooterBlock .userFooter li.user_help a,
.sidebar .userFooterBlock .userFooter li.user_settings a,
.sidebar .userFooterBlock .userFooter li.user_logout a {
	color:white;
}