
@media screen and (max-width: 767px){
.contentLayout {
	width: calc(100% - 70px);
	height: 100vh;
	overflow-y: scroll;
}
}

@media screen and (min-width: 768px){
.contentLayout {
	width: calc(100% - 280px);
	float: left;
	height: 100vh;
	overflow-y: scroll;
}
}
.contentLayout > div {
	padding: 25px 15px;
}

::-webkit-scrollBar {
	display: none;
}